/* styles/10-style.css */

/* Define custom properties */
:root {
    --line-height-small: 1.2;
    --line-height-base: 1.5;
    --line-height-big: 1.8;
    --font-family-base: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-family-title: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xx-large: 4.8rem;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);
    --section-header-align: center;
    --section-tagline-transform: uppercase; /* New custom property for text transformation */
}

/* Set the font-size in the html element to 62.5% of the normal size */
html {
    font-size: 62.5%;
}

/* Set the font-size and line-height for all fonts in the body */
body {
    font-size: var(--font-size-medium);
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-base);
}

/* Apply font sizes and line-heights for headings */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-big);
}

h1 {
    font-size: var(--font-size-xx-large);
}

h2 {
    font-size: var(--font-size-x-large);
}

h3 {
    font-size: var(--font-size-large);
}

h4 {
    font-size: var(--font-size-medium);
}

h5 {
    font-size: var(--font-size-small);
}

h6 {
    font-size: var(--font-size-small);
}

/* Align the horizontal content of the section-header class */
.section-header {
    text-align: var(--section-header-align);
}

/* Remove text decoration from anchor elements */
a {
    color: var(--text-color);
    text-decoration: none;
}

/* Hide elements with the class visually-hidden */
.visually-hidden {
    display: none;
}

/* Apply styles to the section-tagline class */
.section-tagline {
    font-family: var(--font-family-title);
    text-transform: var(--section-tagline-transform); /* Apply text transformation */
    font-weight: var(--font-weight-bold); /* Apply font weight */
}

/* Reset the color for elements with the class card-category to color-primary */
.card-category {
    color: var(--color-primary);
}
